@use "@sass-palette/hope-config";
@use "fonts/crimson.css";

html,
body {
  background: var(--bg-color);
}

:root {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  color: var(--vp-c-text);
  font-family: var(--font-family);

  @media (min-width: hope-config.$pc) {
    font-size: 17px;
  }
}

a {
  color: var(--vp-c-accent);
}

kbd {
  border-color: var(--vp-c-border-hard);
  background: var(--bg-color-secondary);
  font-family: var(--font-family-mono);
}

code {
  font-family: var(--font-family-mono);

  [data-theme="dark"] & {
    background: #333;
  }

  p a & {
    color: var(--vp-c-accent);
  }
}

blockquote {
  border-color: #eee;
  color: #666;

  [data-theme="dark"] & {
    border-color: #333;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

h1 {
  // narrow mobile
  @media (max-width: hope-config.$mobile) {
    font-size: 1.9rem;
  }
}

h2 {
  border-color: var(--vp-c-border);
}

hr {
  border-color: var(--vp-c-border);
}

tr:nth-child(odd) {
  background: var(--bg-color-secondary);
}

th,
td {
  border-color: var(--vp-c-border-hard);
}

@media print {
  @page {
    --text-color: #000 !important;
    --bg-color: #fff !important;
  }

  // ensure line numbers and ext hint are placed at right place
  div[class*="language-"] {
    position: relative !important;
  }
}
