@use "vuepress-shared/styles/reset";

:root {
  --sandpack-c-bg-header: #eee;
}

[data-theme="dark"] {
  --sandpack-c-bg-header: #333;
}

.sandpack-wrapper {
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--vp-c-border);
  border-radius: 6px;

  .header {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid var(--vp-c-border);

    background: var(--sandpack-c-bg-header, #eee);

    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    overflow-wrap: break-word;

    transition: background var(--vp-t-color) border-color var(--vp-t-color);
  }

  .preview-loading {
    color: var(--vp-c-accent-bg);
  }

  .source-container {
    display: none;

    &.show {
      display: block;
    }
  }
}
